@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to right, #00000052, #000000A1),
    url('../images/morning_background.jpg');
}

/* MAIN */
.main {
    padding: 16px;
    padding-right: 0;
    margin: 16px 8px 16px 0;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* MAIN INFO */

.main-section-info {padding: 8px;}

/* MAIN EXTRA */
.main-section-extra {
    width: 512px;
    padding: 16px;

    backdrop-filter: blur(16px);
}

.section-extra-input {
    width: 256px;
    padding: 8px;
    margin-top: 16px;

    color: #FFFFFF;

    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
}

.section-extra-line {
    margin: auto;
    width: 464px;
    margin: 16px 0;

    border: 1px solid #FFFFFF52;
}