@charset "UTF-8";

@media screen and (max-width: 600px) {
    .main {
        margin: 0;
        padding: 0;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .section-info-title {text-align: center;}

    .section-info-content {
        margin-top: 128px;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .info-content-value {font-size: 56px;}

    .content-text-city {
        padding-right: 0;

        font-size: 48px;
        text-align: center;
    }

    .content-text-time {text-align: center;}

    /* SECTION EXTRA */
    .main-section-extra {
        padding: 0;
        width: 360px;
        margin-bottom: 16px;
    }

    .extra-info-div h2 {font-size: 16px;}
}