@charset "UTF-8";

@font-face {
    font-family: 'Roboto';
    src: url('./font/roboto-regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFFFFF;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to right, #00000052, #000000A1),
    url('../images/morning_background.jpg');
}

/* MAIN */
.main {
    padding-right: 0;
    margin: 0 0 16px 8px;
    padding: 0 0 16px 16px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* MAIN INFO */
.main-section-info {
    padding: 16px;
    margin: 16px 0;
}

.section-info-title {
    margin: 16px;
    padding: 8px 0;

    font-size: 24px;
    font-weight: normal;
    text-transform: capitalize;
}

.section-info-content {
    margin-top: 256px;

    display: flex;
    align-items: center;
}

.info-content-value {
    padding: 8px;
    font-size: 72px;
}

.info-content-text {margin: 0 16px;}

.content-text-city {
    padding: 8px 8px 0 8px;

    font-size: 64px;
    letter-spacing: 4px;
}

.content-text-time {
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}

/* MAIN EXTRA */
.main-section-extra {
    width: 512px;
    padding: 16px;

    border-top: none;
    border-right: none;
    backdrop-filter: blur(16px);
    border-left: 1px solid #FFFFFF94;
    border-bottom: 1px solid #FFFFFF94;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.section-extra-div {
    padding: 8px;
    margin: 24px 0 72px 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.section-extra-input {
    width: 328px;
    padding: 16px;

    font-size: 16px;
    color: #FFFFFF;

    outline: none;
    border-top-left-radius: 8px;
    border: 1px solid #FFFFFF94;
    background-color: transparent;
    border-bottom-left-radius: 8px;
}

.section-extra-button {
    width: 72px;
    padding: 16px;

    cursor: pointer;
    font-size: 16px;
    color: #FFFFFF;

    outline: none;
    border-top-right-radius: 8px;
    border: 1px solid #FFFFFF94;
    background-color: transparent;
    border-bottom-right-radius: 8px;
}

.section-extra-title {
    padding: 8px;
    margin: 16px 0;

    font-size: 24px;
    font-weight: normal;
}

.section-extra-info {
    padding: 8px;
    margin: 16px 0;
}

.extra-info-div {
    margin: 8px 0;
    padding: 8px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.extra-info-div h2 {
    font-size: 20px;
    font-weight: normal;
}