@charset "UTF-8";

@font-face {
    font-family: 'Roboto';
    src: url('./font/roboto-regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFFFFF;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to right, #00000052, #000000A1),
    url('../images/morning_background.jpg');
}

/* MAIN */
.main {
    padding: 16px;
    padding-right: 0;
    margin: 16px 8px 16px 0;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* MAIN INFO */

.main-section-info {padding: 8px;}

/* MAIN EXTRA */
.main-section-extra {
    width: 512px;
    padding: 16px;

    border-radius: 8px;
    backdrop-filter: blur(16px);
    border: 1px solid #FFFFFF94;
}

.section-extra-div {
    padding: 8px;
    margin: 16px 0 32px 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.section-extra-input {
    width: 296px;
    padding: 8px;

    color: #FFFFFF;

    outline: none;
    border-top-left-radius: 8px;
    border: 1px solid #FFFFFF94;
    background-color: transparent;
    border-bottom-left-radius: 8px;
}

.section-extra-button {
    width: 64px;
    padding: 8px;

    cursor: pointer;
    color: #FFFFFF;

    outline: none;
    border-top-right-radius: 8px;
    border: 1px solid #FFFFFF94;
    background-color: transparent;
    border-bottom-right-radius: 8px;
}

.section-extra-title {
    padding: 8px;
    margin: 16px 0;

    font-size: 24px;
    font-weight: normal;
}

.section-extra-info {
    padding: 8px;
    margin: 16px 0;
}

.extra-info-div {
    margin: 8px 0;
    padding: 8px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.extra-info-div h2 {
    font-size: 20px;
    font-weight: normal;
}